body 
{ 
    font-size: 80%;                         /* Default font and size for page */
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; 
	background-color: purple;
}
ul#tabs 
{ 
    list-style-type: none;                  /* No bullets                     */
    margin: 30px 0 0 0;                    /* Positive top margin            */
    padding: 0 0 0.3em 0;                   /* Bottom padding on tabs to make  */
                                            /* them adjacent to the content   */
}
ul#tabs li 
{ 
    display: inline; 
    padding: 0px;
}

ul#tabs li a 
{ 
    color: #42454a; 
    background-color: #64B058; 
    border: 1px solid #c9c3ba; 
    border-bottom: none; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 0.3em 2em 0.3em 2em;
	margin-left: 2em;
    text-decoration: none; 

}

ul#tabs li a:hover 
{ 
    background-color: #96d38d; 
}

ul#tabs li a.selected 
{ 
    color: #000; 
    background-color: #64B058; 
    font-weight: bold; 
    padding: 0.7em 0.3em 0.38em 0.3em; 
}

div.tabContent 
{ 
    border: 1px solid #c9c3ba; 
    padding: 0.5em; 
    background-color: #64B058; 
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

div.tabContent.hide 
{ 
    display: none; 
}