body 
{ 
    font-size: 80%;                         /* Default font and size for page */
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; 
}
ul#tabs 
{ 
    list-style-type: none;                  /* No bullets                     */
    margin: 300px 0 0 0;                    /* Positive top margin            */
    padding: 0 0 0.3em 0;                   /* Bottom padding on tabs to make  */
                                            /* them adjacent to the content   */
}
ul#tabs li 
{ 
    display: inline; 						/* Displays the tabs horizontally */
    padding: 12px;							/* Puts space between the tab names */
}											/* and their borders */

ul#tabs li a 
{ 
    color: #42454a; 						/* Default font color */
    background-color: #dedbde; 				/* Default background color of tabs */
    border: 1px solid #c9c3ba; 				/* Default size, decoration, and color of border */
    border-bottom: none; 					/* No border along the bottom of tab */
    border-top-left-radius: 7px;			/* Rounds the top left and right corners of tabs */
    border-top-right-radius: 7px;
    padding: 0.3em 2em 0.3em 2em;			/* Changes the padding in the tabs */
    text-decoration: none; 					/* Sets default text decoration to none */

}

ul#tabs li a:hover 
{ 
    background-color: #f1f0ee; 				/* Default background color of tabs when hovering */
}

ul#tabs li a.selected 
{ 
    color: #000; 							/* Changes the text color, background color */
    background-color: #f1f0ee; 				/* font weight, and padding of a selected tab */
    font-weight: bold; 
    padding: 0.7em 0.3em 0.38em 0.3em; 
}

div.tabContent 
{ 
    border: 1px solid #c9c3ba; 				/* The border size, decoration and color of the content */
    padding: 0.5em; 						/* The amount of space between content and border */
    background-color: #f1f0ee; 				/* Background color of the content */
}

div.tabContent.hide 
{ 
    display: none; 							/* When shifting between tabs, hides the previous tab's */
}											/* content to keep content on top of page */